@import 'common';
// La police de caractère pour la balise h1 doit être 
    // Helvetica, sans-serif (stocker cette valeur dans une variable)
    // La couleur du texte dans la balsie h1 doit être : #ff0000
    // La couleur du texte du mot "SASS" doit être : :#0000ff
$helvetica : 'Helvetica', sans-serif;
$red : #ff0000;
$blue: #0000ff;



h1 {
    font-family: $helvetica;
    color: $red;
    span {
        color: $blue
    }
}
