@mixin circle($bgc){
    background-color: $bgc;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
}